* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: gray;
}

#wrap {
  width: 1400px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background: #ffffff;
}

#header > #logo {
  padding: 15px 0 0 15px;
}

#header > #search_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 100%;
}

#header > #search_bar > #search_category {
  width: 105px;
  height: 37px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #bababa;
}

#header > #search_bar > #search {
  width: 690px;
  height: 33px;
  background: #dddddd;
  border: 1px solid #ffffff;
  border-radius: 26px;
  font-size: 20px;
  background-image: url(/front/public/img/home/search_icon.png);
  background-repeat: no-repeat;
  background-position: right 10px bottom;
  background-size: 30px;
}

#sell_register {
  width: 224px;
  height: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  background: #4d47c3;
  box-sizing: border-box;
  border: 3px #4d47c3 solid;
  border-radius: 19px;
  text-align: center;
}

#sell_register:hover {
  border: 3px #4d47c3 solid;
  color: #4d47c3;
  background-color: #ffffff;
}

#container {
  display: flex;
}

#side_bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 15%;
  height: 800px;
}

#side_bar > #profile_box {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  width: 180px;
  height: 400px;
  background: #f2f1f6;
  border-radius: 8px;
}

#call_user {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

#show_profile {
  font-size: 14px;
}

#side_bar > #profile_box > #user_profile {
  display: flex;
}

#profile_img_box {
  margin-right: 5px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

#profile_img {
  width: 60px;
  height: 60px;
}

#profile_rightbox {
  padding: 3px 0 0 3px;
  box-sizing: border-box;
}

#profile_centerbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding: 10px 1px 0 2px;
}

#user_logout {
  background: #a7a3ff;
  border-radius: 8px;
  padding: 2px 2px 4px 2px;
  width: 150px;
  height: 20px;
  text-align: center;
  color: #4d47c3;
}

#sell_board {
  padding-top: 30px;
}

#sell_category {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  padding: 16px 40px;
  background: #a7a3ff;
  border-radius: 0px 1000px 1000px 0px;
  font-size: 18px;
  font-weight: 600;
  color: #4d47c3;
}

.listname {
  padding: 7px 25%;
  font-size: 18px;
  color: gray;
}

.listname:hover > a {
  color: #4d47c3;
  font-weight: 600;
}

#bid_board {
  padding-top: 30px;
}

#bid_category {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 100px;
  padding: 16px 40px;
  background: #a7a3ff;
  border-radius: 0px 1000px 1000px 0px;
  font-size: 18px;
  font-weight: 600;
  color: #4d47c3;
}

#content {
  padding: 25px 0 0 25px;
  box-sizing: border-box;
  width: 85%;
  height: 1100px;
  background: #f2f1f6;
  border-radius: 32px 0px 0px 0px;
}

#content > #content_frame {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 32px 0px 0px 0px;
}

#sell_ranking {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 35px;
  box-sizing: border-box;
}

#sell_board_name {
  padding: 20px 0 0 23px;
  font-size: 25px;
  font-weight: bold;
}

.ranking_list {
  padding: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  width: 240px;
  height: 320px;
  background: #ffffff;
  box-shadow: 0px 4px 28px rgba(35, 29, 106, 0.1);
  overflow: hidden;
  border-radius: 12px;
}

.item_img {
  width: 100%;
  height: 100%;
}

.item_info {
  padding-top: 5px;
}

.item_name {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.item_information {
  display: flex;
  justify-content: space-between;

  margin: 0 15px 15px 10px;
}

.item_value {
  font-size: 18px;
  font-weight: bold;
}

.upload_date {
  padding-top: 2px;
  font-size: 15px;
  color: gray;
}

#bid_ranking {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 35px;
  box-sizing: border-box;
}

#bid_board_name {
  padding: 50px 0 0 23px;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: bold;
}

.rank {
  position: relative;
  width: 240px;
  height: 230px;
}

.auction_count {
  position: absolute;
  bottom: 0px;
  width: 240px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: right;
  font-weight: 600;
  padding-right: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
