:root {
  --text1-color: #575757;
  --textSub-color: #c4c4c4;
  --stroke-color: #cacaca;
  --background1: #ffffff;
  --background2: #edeef7;
  --background3: #eaecff;
  --accent-color: #bebbf5;
  --accent-color2: #4d47c3;
  --alert-color: #ff5858;
}

/* view page 시작 */

#view_wrap {
  padding: 25px 0 0 25px;
  box-sizing: border-box;
}

#content_view {
  padding: 25px 0 0 25px;
  box-sizing: border-box;
}

#prod_intro {
  display: flex;
  height: 500px;
}

#prod_slider {
  width: 550px;
  height: 100%;
  background-color: #4d47c3;
}

#slider_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

#slide_btn {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

#prod_img_list {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.prod_img img {
  display: inline-block;
  height: 100%;
  width: 550px;
}

#left_btn,
#right_btn {
  background-color: transparent;
  font-size: 45px;
  margin: 0 15px;
  color: var(--stroke-color);
}

.prod_summary {
  width: 52%;
  padding: 25px;
  box-sizing: border-box;
}

.view_subject {
  font-size: 24px;
  padding: 10px 0;
}

.sell_price {
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: solid 1px var(--stroke-color);
}

.price_num {
  font-size: 40px;
  font-weight: 500;
}

.sell_price span:nth-child(2) {
  font-size: 28px;
}

.view_status {
  padding: 10px 0;
  font-size: 18px;
  color: var(--textSub-color);
}

.view_status span {
  margin-right: 5px;
}

.view_status span::after {
  padding-left: 10px;
  content: '|';
}

.view_status #time::after {
  content: '';
}

.detail {
  display: flex;
  margin-bottom: 14px;
}

.detail .detail_content {
  position: relative;
  padding: 0 10px;
  width: calc(50% - 4px);
}

.detail .detail_content:first-child {
  margin-right: 8px;
}

.detail .detail_content:first-child::after {
  position: absolute;
  top: 0;
  right: -4px;
  content: '';
  width: 2px;
  height: 100%;
  background: #f1f1f1;
}

.detail .detail_list {
  height: auto;
}

.detail_list {
  padding: 10px 0;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  padding: 5px 0;
  font-size: 18px;
}

.details span:nth-child(1) {
  padding-right: 10px;
}

.bid_info .label {
  font-size: 14px;
  color: #888;
}

.bid_name {
  margin-left: 4px;
  font-weight: bold;
  font-size: 18px;
}

.bid_info .fa-solid {
  margin-right: 4px;
  font-size: 22px;
}

.fa-money-bill-1-wave {
  color: rgb(57, 211, 43);
}

.fa-medal {
  color: rgb(250, 228, 28);
}

.tag a {
  display: inline-block;
  margin: 0 5px 8px 0;
  padding: 5px 10px;
  background: #f1f1f1;
  border-radius: 30px;
  font-size: 16px;
  transition: 0.2s;
}

.tag a:hover {
  background: var(--accent-color);
  color: #fff;
}

.bid_info label {
  margin-right: 4px;
}

.bid_input {
  margin: 12px 14px 0 0;
  width: 190px;
  height: 38px;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  outline: none;
}

.bid_input::placeholder {
  color: #888;
}

.btn_wrap {
  width: 100%;
  margin-top: 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.like_btn {
  width: 48%;
  height: 100%;
  background-color: var(--textSub-color);
  color: var(--background1);
  font-size: 20px;
  cursor: pointer;
}

/* 찜하기 클릭했을 때 색 바뀌게끔 css 처리 */
.click {
  background-color: var(--alert-color);
}

.contact_btn,
.bid_btn {
  width: 48%;
  height: 100%;
  background-color: var(--accent-color2);
  color: var(--background1);
  font-size: 20px;
  cursor: pointer;
}

#prod_detail_wrap {
  width: 100%;
  padding: 25px 0px;
  margin-top: 20px;
  max-height: 500px;
}

#prod_detail {
  margin-top: 15px;
  font-size: 18px;
}

#related_lineup_wrap {
  width: 100%;
  padding: 20px 0;
}

#related_item_lineup {
  display: flex;
  padding-top: 20px;
  padding-right: 25px;
  box-sizing: border-box;
  width: 100%;
}

.related_item {
  width: calc(20% - 35px);
  border-radius: 12px;
  box-shadow: 3px 5px 10px var(--stroke-color);
  overflow: hidden;
  background-color: var(--background1);
  margin-right: 35px;
}

.related_item:last-child {
  margin-right: 0;
}

.related_item a {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related_item a > .item_pic {
  width: 100%;
  height: 192px;
}

.item_subject {
  font-size: 24px;
  font-weight: 500;
  color: black;
  margin-top: 5px;
}

.item_price {
  font-size: 22px;
  font-weight: 500;
  color: black;
  margin: 5px 0;
}

/* bid-timer */

.detail .detail_time .bid-timer {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.bid-timer__svg {
  transform: scaleX(-1);
}

.bid-timer__circle {
  fill: none;
  stroke: none;
}

.bid-timer__path-elapsed {
  stroke-width: 10px;
  stroke: #f1f1f1;
}

.bid-timer__path-remaining {
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.bid-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.bid-timer__path-remaining.orange {
  color: #f8ca00;
}

.bid-timer__path-remaining.red {
  color: red;
}

.bid-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
