:root {
  --text1-color: #575757;
  --textSub-color: #c4c4c4;
  --stroke-color: #cacaca;
  --background1: #ffffff;
  --background2: #edeef7;
  --background3: #eaecff;
  --accent-color: #bebbf5;
  --accent-color2: #4d47c3;
  --alert-color: #ff5858;
}

/* view page 시작 */

#content {
  padding: 25px 0 0 25px;
  box-sizing: border-box;
  width: 85%;
  background: #f2f1f6;
  border-radius: 32px 0px 0px 0px;
}

#content > #content_frame {
  padding: 25px 0 0 25px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 32px 0px 0px 0px;
}

#content_view {
  padding: 25px 0 0 25px;
  box-sizing: border-box;
}

#prod_intro {
  display: flex;
  height: 500px;
}

#prod_slider {
  width: 550px;
  height: 100%;
  background-color: #4d47c3;
}

#slider_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

#slide_btn {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

#prod_img_list {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.prod_img img {
  display: inline-block;
  height: 100%;
  width: 550px;
}

#left_btn,
#right_btn {
  background-color: transparent;
  font-size: 45px;
  margin: 0 15px;
  color: var(--stroke-color);
}

#prod_summary {
  width: 52%;
  padding: 25px;
  box-sizing: border-box;
}

#view_subject {
  font-size: 24px;
  padding: 10px 0;
}

#sell_price {
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: solid 1px var(--stroke-color);
}

#price_num {
  font-size: 40px;
  font-weight: 500;
}

#sell_price span:nth-child(2) {
  font-size: 28px;
}

#view_status {
  padding: 10px 0;
  font-size: 18px;
  color: var(--textSub-color);
}

#view_status span {
  margin-right: 5px;
}

#view_status span::after {
  padding-left: 10px;
  content: '|';
}

#view_status #time::after {
  content: '';
}

#detail_list {
  padding: 10px 0;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  padding: 5px 0;
  font-size: 18px;
}

.details span:nth-child(1) {
  padding-right: 10px;
}

#tag a {
  margin-right: 5px;
}

#btn_wrap {
  width: 100%;
  margin-top: 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.like_btn {
  width: 48%;
  height: 100%;
  background-color: var(--alert-color);
  color: var(--background1);
  font-size: 20px;
}

/* 찜하기 클릭했을 때 색 바뀌게끔 css 처리 */
.click {
  background-color: var(--textSub-color);
}

#contact_btn {
  width: 48%;
  height: 100%;
  background-color: var(--accent-color2);
  color: var(--background1);
  font-size: 20px;
}

#prod_detail_wrap {
  width: 100%;
  padding: 25px 0px;
  margin-top: 20px;
  max-height: 500px;
}

#prod_detail {
  margin-top: 15px;
  font-size: 18px;
}

#related_lineup_wrap {
  width: 100%;
  padding: 20px 0;
}

#related_item_lineup {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  box-sizing: border-box;
  width: 100%;
}

.related_item {
  width: 17%;
  border-radius: 12px;
  box-shadow: 3px 5px 10px var(--stroke-color);
  overflow: hidden;
  background-color: var(--background1);
}

.related_item a {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related_item a > .item_pic {
  width: 100%;
  height: 192px;
}

.item_subject {
  font-size: 24px;
  font-weight: 500;
  color: black;
  margin-top: 5px;
}

.item_price {
  font-size: 22px;
  font-weight: 500;
  color: black;
  margin: 5px 0;
}
