:root {
  --text1-color: #575757;
  --textSub-color: #c4c4c4;
  --stroke-color: #cacaca;
  --background1: #ffffff;
  --background2: #edeef7;
  --background3: #eaecff;
  --accent-color: #bebbf5;
  --accent-color2: #4d47c3;
  --alert-color: rgb(243, 53, 6);
}

section {
  background-color: var(--background2);
  width: 100%;
  height: 1296px;
  font-size: 24px;
  border-radius: 14px;
  margin-bottom: 30px;
}

#write_form {
  position: relative;
  top: 17px;
  width: 97%;
  height: 97%;
  background-color: var(--background1);
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 14px;
}

#subject_container {
  margin-bottom: 20px;
}

#subject_container > span {
  margin-right: 10px;
  font-weight: 500;
}

#subject_container > #subject {
  width: 95%;
  padding: 5px 0px;
  box-sizing: border-box;
  font-size: 19px;
  border: solid 1px var(--stroke-color);
}

#subject_container > #subject:focus {
  outline: none;
}

#option_container {
  width: 99%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#option_container span {
  margin-right: 10px;
  font-weight: 500;
}

#option_container select {
  width: 90px;
  height: 36px;
  font-size: 18px;
  border: solid 1px var(--stroke-color);
  margin-left: 10px;
}

#option_container select:focus {
  outline: none;
}

#deal_way_wrap {
  width: 20%;
}

#deal_how > span {
  margin-right: 20px;
}

#deal_how {
  font-weight: 500;
  width: 20%;
  margin-bottom: 20px;
}

#deal_how > select {
  width: 90px;
  height: 36px;
  font-size: 18px;
  border: solid 1px var(--stroke-color);
  margin-left: 10px;
}

#deal_date_wrap {
  width: 20%;
  visibility: hidden;
}

#deal_date_wrap.bidon {
  visibility: visible;
}

#product_type_wrap {
  width: 20%;
}

#deal_time_wrap {
  visibility: hidden;
}

#deal_time_wrap.bidon {
  visibility: visible;
}

#option2_container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

#option2_container span {
  margin-right: 10px;
  font-weight: 500;
}

#deal_price_wrap {
  width: 50%;
}

#deal_price {
  width: 350px;
  padding: 5px 0px;
  box-sizing: border-box;
  font-size: 19px;
  border: solid 1px var(--stroke-color);
}

#deal_price:focus {
  outline: none;
}

#deal_zone_wrap {
  width: 50%;
}

#deal_zone {
  width: 500px;
  padding: 5px 0px;
  box-sizing: border-box;
  font-size: 19px;
  border: solid 1px var(--stroke-color);
}

#deal_zone:focus {
  outline: none;
}

#content_container {
  margin-bottom: 40px;
}

#content_container p {
  font-weight: 500;
}

#content_container textarea {
  width: 100%;
  height: 400px;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: solid 1px var(--stroke-color);
  font-family: 'Noto Sans KR', sans-serif;
  resize: none;
  font-size: 18px;
}

#content_container textarea:focus {
  outline: none;
}

#img_container {
  margin-bottom: 40px;
}

#img_container p {
  font-weight: 500;
}

#img_upload_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  padding: 24px 0px;
  border: solid 1px var(--stroke-color);
}

#img_upload_box.green {
  background-color: rgba(38, 253, 49, 0.4);
}

#img_upload_box i {
  font-size: 50px;
  color: var(--stroke-color);
}

#img_upload_box > p {
  font-size: 20px;
  margin-top: 10px;
  color: var(--stroke-color);
}

#preview_list {
  display: flex;
  width: 900px;
  justify-content: space-between;
}

#preview_list > .preview_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 150px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 1px dashed #c2c2c2;
  font-size: 16px;
}

.preview_img > img {
  width: 140px;
  height: 100px;
}

#tag_container {
  margin-bottom: 20px;
}

#tag_container p {
  font-weight: 500;
}

#hash_tag {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 19px;
  border: solid 1px var(--stroke-color);
  font-family: 'Noto Sans KR', sans-serif;
}

#hash_tag::placeholder {
  color: var(--stroke-color);
}

#hash_tag:focus {
  outline: none;
}

#btn_container {
  width: 100%;
  position: relative;
}

#write_post_btn {
  height: 48px;
  width: 248px;
  font-size: 24px;
  line-height: 33px;
  border-radius: 19px;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--accent-color2);
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color2);
  position: absolute;
  right: 0px;
  cursor: pointer;
}

#write_post_btn:hover {
  background-color: var(--accent-color2);
  color: var(--background1);
}
