<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/board.css" />
    <script
      src="https://kit.fontawesome.com/cbc296ae57.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1 id="logo">
          <a href="/">
            <img src="/img/LOGO.png" alt="" />
          </a>
        </h1>
        <nav>
          <ul>
            <li><a href="/admin/statistics/">통계</a></li>
            <li><a href="/admin/board/">게시판관리</a></li>
            <li><a href="/admin/user/">회원관리</a></li>
          </ul>
        </nav>
      </div>

      <div id="content">
        <table>
          <tr>
            <th>거래유형</th>
            <th>카테고리</th>
            <th>거래방식</th>
            <th>제목</th>
            <th>판매가격/현재가격</th>
            <th>작성자</th>
            <th>찜</th>
            <th>신고</th>
            <th>등록일</th>
            <th>삭제</th>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>중고거래</td>
            <td>애완용품</td>
            <td>직거래</td>
            <td>강아지 산책용 하네스 팝니다.</td>
            <td>10,000</td>
            <td>kong</td>
            <td>26</td>
            <td>0</td>
            <td>22-03-22</td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </table>
        <ul id="page_list">
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
