{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/admin/login.css" />
{% endblock %}
<!--  -->
{% block content %}
<div id="content">
  <div id="login_section">
    <form action="http://localhost:4000/api/admin/login" method="post">
      <div id="id_div">
        <label for="userEmail">아이디</label>
        <input type="text" name="userEmail" id="userEmail" />
      </div>
      <div id="pw_div">
        <label for="userPW">비밀번호</label>
        <input type="password" name="userPW" id="userPW" />
      </div>
      <button type="submit" id="login_button">로그인</button>
    </form>
  </div>
  <div id="side_img">
    <img src="/img/admin/admin_login_char.png" alt="" />
  </div>
</div>
{% endblock %}
