{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/admin/board.css" />
{% endblock %}
<!--  -->
{% block content %}
<div id="content">
  <div id="nav">
    <ul>
      <li><a href="/admin/statistics/">통계</a></li>
      <li><a href="/admin/sell?page=1">중고거래 게시물</a></li>
      <li><a href="/admin/auction?page=1/">경매 게시물</a></li>
      <li><a href="/admin/user/">회원관리</a></li>
    </ul>
  </div>
  <table>
    <tr>
      <th>거래유형</th>
      <th>카테고리</th>
      <th>거래방식</th>
      <th>제목</th>
      <th>판매가격/현재가격</th>
      <th>작성자</th>
      <th>찜</th>
      <th>신고</th>
      <th>등록일</th>
      <th>삭제</th>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td>중고거래</td>
      <td>애완용품</td>
      <td>직거래</td>
      <td>강아지 산책용 하네스 팝니다.</td>
      <td>10,000</td>
      <td>kong</td>
      <td>26</td>
      <td>0</td>
      <td>22-03-22</td>
      <td><i class="fas fa-trash-alt"></i></td>
    </tr>
  </table>
  <ul id="page_list">
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">5</a></li>
  </ul>
</div>
{%endblock%}
