{% extends '../template/_layout.html'%}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/admin/statistics.css" />
{% endblock %}
<!--  -->
{% block js %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
  integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/admin/statistics.js" defer></script>
{% endblock %}
<!--  -->
{% block content %}
<div id="content_container">
  <div id="nav">
    <ul>
      <li><a href="/admin/statistics/" class="clicked">통계</a></li>
      <li><a href="/admin/sell?page=1">중고거래 게시물</a></li>
      <li><a href="/admin/auction?page=1">경매 게시물</a></li>
      <li><a href="/admin/qa?page=1">1:1문의</a></li>
      <li><a href="/admin/user?page=1">회원관리</a></li>
    </ul>
    <div id="category_activity">
      <p>카테고리별 활성도</p>
      <div id="graph">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div id="mid_content">
      <div id="popular_posting" class="statistic_box">
        <p>찜 많은 판매 글</p>
        <table class="statistic">
          <tr>
            <th>거래방식</th>
            <th>제목</th>
            <th>찜</th>
            <th>등록일</th>
          </tr>
          {% for like in likeResult %}
          <tr>
            <td>{{like.tableName}}</td>
            <td>
              <a href="/home#view/{{like.table}}/{{like.idx}}"
                >{{like.subject}}</a
              >
            </td>
            <td><i class="far fa-heart"></i>{{like.likes}}</td>
            <td>{{like.date}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div id="popular_category" class="statistic_box">
        <p>게시글이 많은 카테고리</p>
        <table class="statistic">
          <tr>
            <th>카테고리</th>
            <th>등록된 게시글 수</th>
          </tr>
          {% for pop in popCatResult %}
          <tr>
            <td>{{pop.category}}</td>
            <td>{{pop.count}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div id="bottom_content">
      <div id="popular_user" class="statistic_box">
        <p>판매왕</p>
        <table class="statistic">
          <tr>
            <th>유저 번호</th>
            <th>닉네임</th>
            <th>전체 판매글</th>
            <th>판매완료</th>
          </tr>
          <tbody>
            {% for seller in topSellerResult %}
            <tr>
              <td>{{seller.u_id}}</td>
              <td>{{seller.userAlias}}</td>
              <td>{{seller.totalCount}}</td>
              <td>{{seller.soldCount}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="point_user" class="statistic_box">
        <p>포인트 왕</p>
        <table class="statistic">
          <tr>
            <th>유저번호</th>
            <th>닉네임</th>
            <th>포인트</th>
          </tr>
          <tbody>
            {% for pointer in pointCollectorResult%}
            <tr>
              <td>{{pointer.u_id}}</td>
              <td>{{pointer.userAlias}}</td>
              <td>{{pointer.point}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
