{% extends "../template/_layout.html"%}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/admin/userprofile.css" />
{% endblock %}
<!--  -->
{% block js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
<!--  -->

{% block content %}
<div id="profileEdit">
  <form method="post" action="http://localhost:4000/api/admin/userEdit">
    <div id="title" name="title">
      회원 정보 수정
    </div>
    <ul id="boxTool">
      <li class="infoBox">
        <label for="selectUser">권한설정</label>
        <select id="selectUser" name="selectUser">
          {% if isAdmin === 0 %}
          <option id="user" name='user' value="{{0}}" selected>일반사용자</option>
          <option id="admin" name='admin' value="{{1}}">관리자</option>
          {% else %}
          <option id="user" name='user' value="{{0}}">일반사용자</option>
          <option id="admin" name='admin' value="{{1}}" selected>관리자</option>
          {% endif%}
        </select>
      </li>
      <li class="infoBox">
        <label for="userEmail">이메일</label>
        <input type="text" id="userEmail" name="userEmail" maxlength="64" value="{{userEmail}}" readonly>
      </li>
      <li class="infoBox">
        <label for="howJoin">가입경로</label>
        <input type="text" id="howJoin" name="howJoin" value="가입경로" readonly>
        </select>
      </li>
      <li class="infoBox">
        <label for=" userAlias">닉네임</label>
        <input type="text" id="userAlias" name="userAlias" value="{{userAlias}}" maxlength="8">
      </li>
      <li class="infoBox">
        <label for="userMobile">핸드폰번호</label>
        <input type="text" id="userMobile" name="userMobile" value="{{userMobile}}" maxlength="13">
      </li>
      </li>
    </ul>
    <button type="submit" id="userUpdate">수정완료</button>
    <!--  -->

    {% endblock %}