{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/qa/list.css" />
{% endblock %}
{% block js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script defer src="/js/qa/list.js"></script>
{% endblock %}
{% block content %}
<div id="board_top">1:1 게시판</div>
<table>
  <tr id="category">
    <td id="_id">번호</td>
    <td id="subject">제목</td>
    <td id="author">작성자</td>
    <td id="date">등록일</td>
  </tr>
  {% for item in listData %}
  <tr>
    <td>{{item.q_id}}</td>
    <td class="subject_align">
      <a href="/qa/view?idx={{item.q_id}}">{{item.subject}}</a>
    </td>
    <td>{{item.userAlias}}</td>
    <td>{{item.date}}</td>
  </tr>
  {% endfor %}
</table>
<div id="btn_container">
  <a href="/qa/write" id="write_btn">글쓰기</a>
</div>
<ul id="pagenation">
  <li><a href="/qa/list?page={{page-1}}">&lt;</a></li>
  <li id="paging">
    <a href="/qa/list?page={{forPager*5-4}}" class="page_num"> {{forPager*5-4}} </a>
    <a href="/qa/list?page={{forPager*5-3}}" class="page_num"> {{forPager*5-3}} </a>
    <a href="/qa/list?page={{forPager*5-2}}" class="page_num"> {{forPager*5-2}} </a>
    <a href="/qa/list?page={{forPager*5-1}}" class="page_num"> {{forPager*5-1}} </a>
    <a href="/qa/list?page={{forPager*5}}" class="page_num"> {{forPager*5}} </a>
  </li>
  <li><a href="/qa/list?page={{page+1}}">&gt;</a></li>
</ul>
{% endblock %}