{% extends "../template/_layout.html"%}
<!--  -->
{% block css %}
<!--  -->
{% endblock %}
<!--  -->
{% block content %}
<form method="post" action="http://localhost:4000/api/user/profile/edit">
  <ul>
    <li>
      <label for="userEmail">이메일</label>
      <input type="text" id="userEmail" name="userEmail" maxlength="32" value={{userEmail}} >
    </li>
    <li>
      <label for="userPW">비밀번호</label>
      <input type="password" id="userPW" name="userPW">
    </li>
    <li>
      <label for="userPWCheck">비밀번호확인</label>
      <input type="password" id="userPWCheck" name="userPWCheck">
    </li>
    <li>
      <label for="userAlias">닉네임</label>
      <input type="text" id="userAlias" name="userAlias" value="{{userAlias}}">
    </li>
    <li>
      <label for="userMobile">핸드폰번호</label>
      <input type="text" id="userMobile" name="userMobile" value="{{userMobile}}">
    </li>
    <!-- <li>
      <label for="userPicture">프로필사진</label>
      <input type="image">
    </li> -->

  </ul>
  <button type="submit">정보수정</button>
  <a id="userDelete" href="/user/userDelete">회원탈퇴</a>
</form>
<!--  -->

{% endblock %}