{% extends "../template/_layout.html"%}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/user/profile.css" />
{% endblock %}
<!--  -->
{% block js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/user/profile.js" defer></script>
{% endblock %}
<!--  -->
{% block content %}
<div id="user_info">
  <div id="profile_img">
    <img src="" alt="" />
  </div>
  <div id="txt_info">
    <div id="info_title">
      <p>내 프로필</p>
      <a href="http://localhost:3000/user/profile/edit" id="profile_edit_btn">
        정보수정
      </a>
    </div>
    <ul id="info_list">
      <input type="hidden" id="userIdx" value="{{u_id}}" />
      <li><i class="fa-solid fa-envelope"></i>이메일 : {{userEmail}}</li>
      <li><i class="fa-solid fa-user"></i>닉네임 : {{userAlias}}</li>
      <li><i class="fa-solid fa-phone"></i>전화번호 : {{userMobile}}</li>
      <li><i class="fa-solid fa-box"></i>판매중상품 : {{sellData.Cnt}}개</li>
      <li>
        <i class="fa-solid fa-cart-plus"></i>판매된상품 : {{sellData.SoldCnt}}개
      </li>
      <li><i class="fa-solid fa-box"></i>게시중 경매 : {{auData.Cnt}}개</li>
      <li>
        <i class="fa-solid fa-cart-plus"></i>완료된 경매 : {{auData.SoldCnt}}개
      </li>
      <li>
        <i class="fa-regular fa-heart"></i>찜 눌린 횟수 : {{totalLikes}}회
      </li>
    </ul>
  </div>
</div>
<div id="list">
  <ul id="profile_tab">
    <li class="selected" data-tapname="sell">판매상품</li>
    <li data-tapname="auction">경매상품</li>
    <li
      data-tapname="likes"
      data-slike="{{slikeResult}}"
      data-aulike="{{aulikeResult}}"
    >
      찜목록
    </li>
    <li data-tapname="qa">1:1 문의글</li>
  </ul>
  <div id="selected_data">
    <table id="tab_table">
      <tr>
        <th>제목</th>
        <th>가격</th>
        <th>날짜</th>
        <th>판매여부</th>
      </tr>
      {% for sell in sellResult %}
      <tr>
        <td>
          <a href="/home#view/sell_board/{{sell.s_id}}">{{sell.subject}}</a>
        </td>
        <td>{{sell.price}}</td>
        <td>{{sell.date}}</td>
        <td>{{sell.isSold}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<template id="sell_column_tem">
  <tr>
    <th>제목</th>
    <th>가격</th>
    <th>날짜</th>
    <th>판매여부</th>
  </tr>
  {tbody}
</template>

<template id="au_column_tem">
  <tr>
    <th>제목</th>
    <th>가격</th>
    <th>날짜</th>
    <th>경매시작일</th>
    <th>판매여부</th>
  </tr>
  {tbody}
</template>

<template id="like_column_tem">
  <tr>
    <th>판매방식</th>
    <th>제목</th>
    <th>가격</th>
    <th>날짜</th>
    <th>판매여부</th>
  </tr>
  {tbody}
</template>

<template id="qa_column_tem">
  <tr>
    <th>글번호</th>
    <th>제목</th>
    <th>날짜</th>
    <th>조회수</th>
  </tr>
  {tbody}
</template>

<template id="sell_data_tem">
  <tr>
    <td>
      <a href="/home#view/sell_board/{sell.s_id}">{sell.subject}</a>
    </td>
    <td>{sell.price}</td>
    <td>{sell.date}</td>
    <td>{sell.isSold}</td>
  </tr>
</template>

<template id="au_data_tem">
  <tr>
    <td>
      <a href="/home#view/auction/{sell.s_id}">{sell.subject}</a>
    </td>
    <td>{sell.price}</td>
    <td>{sell.date}</td>
    <td>{sell.startDate}</td>
    <td>{sell.isSold}</td>
  </tr>
</template>

<template id="like_data_tem">
  <tr>
    <td>{category}</td>
    <td>
      <a href="/home#view/{table}/{sell.s_id}">{sell.subject}</a>
    </td>
    <td>{sell.price}</td>
    <td>{sell.date}</td>
    <td>{sell.isSold}</td>
  </tr>
</template>

<template id="qa_data_tem">
  <tr>
    <td>{q_id}</td>
    <td>
      <a href="/qa/view?idx={q_id}">{sell.subject}</a>
    </td>
    <td>{sell.date}</td>
    <td>{hit}</td>
  </tr>
</template>
{% endblock %}
