{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link href="/css/chat/chat.css" rel="stylesheet" type="text/css" />
{% endblock %}
<!--  -->
{% block content %}
{% block js %}
<script type="module" src="/js/chat/chat.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
<div id="main_container">
  <div id="list_view_wrap">
    <aside id="chat_list_wrap">
      <ul class="chat_list">
        <li class="chat_link">
          <div class="chat_info">
            <div class="thumbnail_wrap">
              <div class="thumbnail" aria-hidden="true">
                <img src="{{userData.profile}}" />
              </div>
            </div>
            <div class="msg_wrap">
              <div class="name_data_wrap">
                <span class="name">이화섭</span>
                <span class="date">03-22</span>
              </div>
              <div class="text_wrap">
                <p class="msg">판매 됐나요?</p>
                <span class="msg_status">!</span>
              </div>
            </div>
          </div>
        </li>
        <li class="chat_link">
          <div class="chat_info">
            <div class="thumbnail_wrap">
              <div class="thumbnail">
                <img src="{{userData.profile}}" />
              </div>
            </div>
            <div class="msg_wrap">
              <div class="name_data_wrap">
                <span class="name">이연정</span>
                <span class="date">03-22</span>
              </div>
              <div class="text_wrap">
                <p class="msg">안녕하세요</p>
                <span class="msg_status">!</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </aside>
    <section id="chat_room_wrap">
      <article id="chat_view">
        <div class="sender_msg_wrap">
          <div class="profile_wrap">
            <div class="profile">
              <img src="{{userData.profile}}" />
            </div>
          </div>
          <p class="sender_msg">안녕하세여</p>
        </div>
        <div class="my_msg_wrap">
          <p class="my_msg">네, 안녕하세여</p>
        </div>
        <div class="sender_msg_wrap">
          <div class="profile_wrap">
            <div class="profile">
              <img src="{{userData.profile}}" />
            </div>
          </div>
          <p class="sender_msg">
            긴글이 써지면 아래로 떨어지게 커지면 되는데 왜 안되는거야
            허허허허허허허 동해물과 백두산이 마르고 닳도록 어쩌고 저쩌고
            하느님이 보우어쩌고 저쩌고 하하하ㅏ하하하하ㅏㅏ 긴글이 써지면 이렇게
            아래로 떨어지게 커지면 됩니다. 동해물과 백두산이 마르고 닳도록
            어쩌고 저쩌고 하느님이 보우어쩌고 저쩌고 하하하ㅏ하하하하ㅏㅏ
          </p>
        </div>
        <div class="my_msg_wrap">
          <p class="my_msg">메롱</p>
        </div>
        <div class="sender_msg_wrap">
          <div class="profile_wrap">
            <div class="profile">
              <img src="{{userData.profile}}" />
            </div>
          </div>
          <p class="sender_msg">신고합니다</p>
        </div>
      </article>
      <footer id="chat_input">
        <form method="post" action="" id="chat_write_form">
          <input type="text" name="input_text" id="text_input" />
          <button type="submit" id="msg_send_btn">전송</button>
        </form>
        <input type="hidden" id="u_id" value="{{userData.u_id}}">
      </footer>
    </section>
  </div>
</div>
{% endblock %}