{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link href="/css/chat/chat.css" rel="stylesheet" type="text/css" />
{% endblock %}
<!--  -->
{% block content %}
{% block js %}
<script defer type="module" src="/js/chat/chat.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
<div id="main_container">
  <div id="list_view_wrap">
    <aside id="chat_list_wrap">
      <ul class="chat_list">
        {% if chatList.length > 0 %}
        {% for item in chatList %}
        <li class="chat_link">
          <div class="chat_info">
            <div class="thumbnail_wrap">
              <div class="thumbnail">
                <input type="hidden" class="c_id" value="{{item.c_id}}">
                <img src="{{item.thumbnail}}" />
              </div>
            </div>
            <div class="msg_wrap">
              <div class="name_data_wrap">
                <input type="hidden" class="c_id" value="{{item.c_id}}">
                <span class="name">{{item.theOther}}</span>
                <span class="date">{{item.lastDate}}</span>
              </div>
              <div class="text_wrap">
                <input type="hidden" class="c_id" value="{{item.c_id}}">
                <p class="msg">{{item.lastMsg}}</p>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="chat_link">
          <div class="chat_info">
            현재 채팅목록이 없습니다.
          </div>
        </li>
        {% endif %}
      </ul>
    </aside>
    <section id="chat_room_wrap">
      <article id="chat_view">
        <!-- other's msg template -->
        <!-- my msg template -->
      </article>
      <footer id="chat_input">
        <form method="post" action="" id="chat_write_form">
          <input type="text" name="input_text" id="text_input" />
          <button type="submit" id="msg_send_btn">전송</button>
        </form>
        <input type="hidden" id="u_id" value="{{u_id}}">

      </footer>
    </section>
  </div>
</div>
<!-- other's msg template -->
<template id="otherMsg">
  <div class="sender_msg_wrap">
    <div class="profile_wrap">
      <div class="profile">
        <img src="{img}" />
      </div>
    </div>
    <p class="sender_msg">
      {dialog}
    </p>
  </div>
</template>
<!-- my msg template -->
<template id="myMsg">
  <div class="my_msg_wrap">
    <p class="my_msg">{dialog}</p>
  </div>
</template>
{% endblock %}