<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/styleMain.css" type="text/css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/home/index.js" defer></script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1 id="logo">
          <a href="/home#main/"
            ><img src="/img/home/Logo.png" style="width: 160px; height: 80px"
          /></a>
        </h1>
        <div id="search_bar">
          <select id="search_category" placeholder="전체">
            <option value="all">전체</option>
            <option value="sell">중고거래</option>
            <option value="auction">경매</option>
          </select>
          <div id="search">
            <input type="text" autocomplete="off" id="search_input" />
            <span id="search_btn"></span>
          </div>
          <a id="sell_register" href="/home/write">판매물품 등록</a>
        </div>
      </div>
      <div id="container">
        <div id="side_bar">
          <div id="profile_box">
            <div id="user_profile">
              <ul id="profile_img_box">
                <img src="/img/home/profile.PNG" id="profile_img" />
              </ul>
              <ul id="profile_rightbox">
                <li id="call_user">판매자 님</li>
                <li id="show_profile">
                  <a href="/user/profile">내 정보 보기</a>
                </li>
              </ul>
            </div>
            <ul id="profile_centerbox">
              <li id="my_point">Point : 123 pt</li>
              <ul>
                <li id="sell_item">판매중인 물품 : 1개</li>
                <li id="new_chat">새로운 채팅 : 1개</li>
              </ul>
              <li id="user_logout">로그아웃</li>
            </ul>
          </div>
          <div id="sell_board">
            <p id="sell_category">
              <img
                src="/img/home/category_img1.png"
                style="width: 25px; height: auto"
              />중고거래
            </p>
            <ul id="sell_list" data-way="sell"></ul>
          </div>
          <div id="bid_board">
            <p id="bid_category">
              <img
                src="/img/home/category_img1.png"
                style="width: 25px; height: auto"
              />경매
            </p>
            <ul id="bid_list" data-way="bid"></ul>
          </div>
        </div>
        <div id="content">
          <div id="content_frame"></div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- category template -->
<template id="category_tem">
  <li class="listname" data-code="{c_code}">{c_name}</li>
</template>
<!-- category template done -->

<!-- home/main template -->
<template id="home_main_tem">
  <div>
    <p class="board_name">경매 인기매물</p>
    <ul class="item_list_contaier">
      {auctionList}
    </ul>
  </div>
  <div>
    <p class="board_name">중고거래 인기매물</p>
    <ul class="item_list_contaier">
      {sellList}
    </ul>
  </div>
</template>
<!-- home/mian template done -->

<!-- main sell template -->
<template id="main_sell_list">
  <li class="ranking_list">
    <input class="table" type="hidden" value="sell_board" />
    <input class="idx" type="hidden" value="{s_id}" />
    <div class="rank">
      <img src="http://localhost:4000/upload/{img}" class="item_img" />
    </div>
    <ul class="item_info">
      <li class="item_name">{subject}</li>
      <ul class="item_information">
        <li class="item_value">{price}<span class="won">원</span></li>
        <li class="upload_date">{date}</li>
      </ul>
    </ul>
  </li>
</template>
<!-- main sell template done -->

<!-- main auction template -->
<template id="main_auction_list">
  <li class="ranking_list">
    <input class="table" type="hidden" value="auction" />
    <input class="idx" type="hidden" value="{au_id}" />
    <div class="rank">
      <img src="http://localhost:4000/upload/{img}" class="item_img" />
      <div class="auction_count">경매시작 D-{bidStart}</div>
    </div>
    <ul class="item_info">
      <li class="item_name">{subject}</li>
      <ul class="item_information">
        <li class="item_value">{price}<span class="won">원</span></li>
        <li class="upload_date">{date}</li>
      </ul>
    </ul>
  </li>
</template>
<!-- main auction template done -->

<!-- list item conater template -->
<template id="item_list_template">
  <div>
    <p class="board_name">{way} &gt; {category}</p>
    <ul class="item_list_contaier">
      {itemList}
    </ul>
  </div>
</template>
<!-- list item conater template done-->

<!-- home/search all template -->
<template id="home_search_all_tem">
  <div>
    <p class="board_name">경매 내 '{keyword}' 검색결과</p>
    <ul class="item_list_contaier">
      {auctionList}
    </ul>
  </div>
  <div>
    <p class="board_name">중고거래 내 '{keyword}' 검색결과</p>
    <ul class="item_list_contaier">
      {sellList}
    </ul>
  </div>
</template>
<!-- home/search all template done -->

<!-- list item conater template -->
<template id="search_item_list_template">
  <div>
    <p class="board_name">{way} 내 '{keyword}' 검색결과</p>
    <ul class="item_list_contaier">
      {itemList}
    </ul>
  </div>
</template>
<!-- list item conater template done-->
