<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/styleMain.css" type="text/css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/home/index.js" defer></script>
    <script
      src="https://kit.fontawesome.com/cbc296ae57.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1 id="logo">
          <a href="/home#main/"
            ><img src="/img/home/Logo.png" style="width: 160px; height: 80px"
          /></a>
        </h1>
        <div id="search_bar">
          <select id="search_category" placeholder="전체">
            <option value="all">전체</option>
            <option value="sell">중고거래</option>
            <option value="auction">경매</option>
          </select>
          <div id="search">
            <input type="text" autocomplete="off" id="search_input" />
            <span id="search_btn"></span>
          </div>
          <a id="sell_register" href="/home/write">판매물품 등록</a>
        </div>
      </div>
      <div id="container">
        <div id="side_bar">
          <div id="profile_box">
            <div id="user_profile">
              <ul id="profile_img_box">
                <img src="/img/home/profile.PNG" id="profile_img" />
              </ul>
              <ul id="profile_rightbox">
                <li id="call_user">{{userResult.userAlias}} 님</li>
                <li id="show_profile">
                  <a href="/user/profile">내 정보 보기</a>
                </li>
              </ul>
            </div>
            <ul id="profile_centerbox">
              <input type="hidden" value="{{userResult.u_id}}" id="u_id" />
              <input type="hidden" value="{{aulikeResult}}" id="au_likes" />
              <input type="hidden" value="{{slikeResult}}" id="s_likes" />
              <li id="my_point">Point : {{userResult.point}} pt</li>
              <ul>
                <li id="sell_item">판매중인 물품 : {{totalCount}}개</li>
                <li id="new_chat">새로운 채팅 : 1개</li>
              </ul>
              <li id="user_logout">로그아웃</li>
            </ul>
          </div>
          <div id="sell_board">
            <p id="sell_category">
              <img
                src="/img/home/category_img1.png"
                style="width: 25px; height: auto"
              />중고거래
            </p>
            <ul id="sell_list" data-way="sell"></ul>
          </div>
          <div id="bid_board">
            <p id="bid_category">
              <img
                src="/img/home/category_img1.png"
                style="width: 25px; height: auto"
              />경매
            </p>
            <ul id="bid_list" data-way="bid"></ul>
          </div>
        </div>
        <div id="content">
          <div id="content_frame"></div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- category template -->
<template id="category_tem">
  <li class="listname" data-code="{c_code}">{c_name}</li>
</template>
<!-- category template done -->

<!-- home/main template -->
<template id="home_main_tem">
  <div>
    <p class="board_name">경매 인기매물</p>
    <ul class="item_list_contaier">
      {auctionList}
    </ul>
  </div>
  <div>
    <p class="board_name">중고거래 인기매물</p>
    <ul class="item_list_contaier">
      {sellList}
    </ul>
  </div>
</template>
<!-- home/mian template done -->

<!-- main sell template -->
<template id="main_sell_list">
  <li class="ranking_list">
    <input class="table" type="hidden" value="sell_board" />
    <input class="idx" type="hidden" value="{s_id}" />
    <div class="rank">
      <img src="http://localhost:4000/upload/{img}" class="item_img" />
    </div>
    <ul class="item_info">
      <li class="item_name">{subject}</li>
      <ul class="item_information">
        <li class="item_value">{price}<span class="won">원</span></li>
        <li class="upload_date">{date}</li>
      </ul>
    </ul>
  </li>
</template>
<!-- main sell template done -->

<!-- main auction template -->
<template id="main_auction_list">
  <li class="ranking_list">
    <input class="table" type="hidden" value="auction" />
    <input class="idx" type="hidden" value="{au_id}" />
    <div class="rank">
      <img src="http://localhost:4000/upload/{img}" class="item_img" />
      <div class="auction_count">경매시작 D-{bidStart}</div>
    </div>
    <ul class="item_info">
      <li class="item_name">{subject}</li>
      <ul class="item_information">
        <li class="item_value">{price}<span class="won">원</span></li>
        <li class="upload_date">{date}</li>
      </ul>
    </ul>
  </li>
</template>
<!-- main auction template done -->

<!-- list item conater template -->
<template id="item_list_template">
  <div>
    <p class="board_name">{way} &gt; {category}</p>
    <ul class="item_list_contaier">
      {itemList}
    </ul>
  </div>
</template>
<!-- list item conater template done-->

<!-- home/search all template -->
<template id="home_search_all_tem">
  <div>
    <p class="board_name">경매 내 '{keyword}' 검색결과</p>
    <ul class="item_list_contaier">
      {auctionList}
    </ul>
  </div>
  <div>
    <p class="board_name">중고거래 내 '{keyword}' 검색결과</p>
    <ul class="item_list_contaier">
      {sellList}
    </ul>
  </div>
</template>
<!-- home/search all template done -->

<!-- list item conater template -->
<template id="search_item_list_template">
  <div>
    <p class="board_name">{way} 내 '{keyword}' 검색결과</p>
    <ul class="item_list_contaier">
      {itemList}
    </ul>
  </div>
</template>
<!-- list item conater template done-->

<!-- view template -->
<template id="view_template">
  <link rel="stylesheet" href="/css/home/view.css" />
  <div id="view_wrap">
    <section id="prod_intro">
      <article id="prod_slider">
        <div id="slider_wrap">
          <div id="slide_btn">
            <button id="left_btn">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button id="right_btn">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
          <ul id="prod_img_list">
            {imgList}
          </ul>
        </div>
      </article>
      <article id="prod_summary">
        <h1 id="view_subject">{subject}</h1>
        <div id="sell_price">
          <span id="price_num">{price}</span>
          <span>원</span>
        </div>
        <div id="view_status">
          <i class="fa-solid fa-heart"></i>
          <span id="like_num">{like}</span>
          <i class="fa-solid fa-clock"></i>
          <span id="time">{date}</span>
        </div>
        <ul id="detail_list">
          <li class="details">
            <span>카테고리 :</span>
            <span id="i_category">{c_name}</span>
          </li>
          <li class="details">
            <span>거래방식 :</span>
            <span id="i_how">{how}</span>
          </li>
          <li class="details">
            <span>거래지역 :</span>
            <span id="i_where">{location}</span>
          </li>
          <li class="details">
            <span>태그 :</span>
            <span id="tag"> {tagList} </span>
          </li>
        </ul>
        <input
          type="hidden"
          id="bid_input"
          name="bid_input"
          placeholder="입찰하실 금액을 입력 후 입찰하기 버튼을 눌러주세요"
        />
        <div id="btn_wrap">
          <button class="like_btn" type="submit">
            <i class="fa-solid fa-heart"> 찜하기</i>
          </button>
          <button class="contact_btn" type="submit">1:1 연락</button>
        </div>
      </article>
    </section>
    <section id="prod_detail_wrap">
      <h2>제품 설명</h2>
      <article id="prod_detail">{content}</article>
    </section>
    <footer id="related_lineup_wrap">
      <h2>관련 상품</h2>
      <ul id="related_item_lineup">
        {recommendList}
      </ul>
    </footer>
  </div>
</template>
<!-- view template done -->

<!-- view img templat -->
<template id="view_img_template">
  <li class="prod_img">
    <img src="http://localhost:4000/upload/{img}" />
  </li>
</template>
<!-- view img tmeplat done -->

<!-- view tag template -->
<template id="view_tag_template">
  <a href="#tag/{table}/{tag}">#{tag}</a>
</template>
<!-- view tag template done -->

<!-- recommend item list template -->
<template id="view_recommend_template">
  <li class="related_item">
    <a href="#view/{table}/{s_id}">
      <img class="item_pic" src="http://localhost:4000/upload/{img}" />
      <span class="item_subject">{subject}</span>
      <span class="item_price">{price} 원</span>
    </a>
  </li>
</template>
<!-- recommend item list template done -->

<!-- auction recommend item list template -->
<template id="au_view_recommend_template">
  <li class="related_item">
    <a href="#view/{table}/{au_id}">
      <img class="item_pic" src="http://localhost:4000/upload/{img}" />
      <span class="item_subject">{subject}</span>
      <span class="item_price">{price} 원</span>
    </a>
  </li>
</template>
<!-- recommend item list template done -->
