{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link href="/css/home/write.css" rel="stylesheet" type="text/css" />
{% endblock %}
<!--  -->
{% block js %}
<script src="/js/home/write.js" defer></script>
{% endblock %} {% block content %}
<section>
  <form
    method="post"
    action="http://localhost:4000/api/home/write"
    enctype="multipart/form-data"
    id="write_form"
  >
    <input type="hidden" value="{{userIdx}}" name="userIdx" />
    <div id="subject_container">
      <span>제목</span>
      <input type="text" name="subject" id="subject" maxlength="64" required />
    </div>
    <div id="option_container">
      <div id="deal_way_wrap">
        <span>판매 방법</span>
        <select id="deal_way" name="dealWay" onchange="checkDealWay()">
          <option value="sell">일반거래</option>
          <option value="bid">경매</option>
        </select>
      </div>
      <div id="product_type_wrap">
        <span>카테고리</span>
        <select id="product_type" name="productType">
          {% for data in result %}
          <option value="{{data.c_code}}">{{data.c_name}}</option>
          {% endfor %}
        </select>
      </div>
      <div id="deal_date_wrap">
        <span>경매 진행일</span>
        <select id="bid_date" name="bidDate">
          <option value="1">1일 뒤</option>
          <option value="3">3일 뒤</option>
          <option value="5">5일 뒤</option>
        </select>
      </div>
      <div id="deal_time_wrap">
        <span>경매진행시간</span>
        <select id="bid_hour" name="bidHour">
          <option value="0">0시</option>
          <option value="1">1시</option>
          <option value="2">2시</option>
          <option value="3">3시</option>
          <option value="4">4시</option>
          <option value="5">5시</option>
          <option value="6">6시</option>
          <option value="7">7시</option>
          <option value="8">8시</option>
          <option value="9">9시</option>
          <option value="10">10시</option>
          <option value="11">11시</option>
          <option value="12">12시</option>
          <option value="13">13시</option>
          <option value="14">14시</option>
          <option value="15">15시</option>
          <option value="16">16시</option>
          <option value="17">17시</option>
          <option value="18">18시</option>
          <option value="19">19시</option>
          <option value="20">20시</option>
          <option value="21">21시</option>
          <option value="22">22시</option>
          <option value="23">23시</option>
        </select>
        <select name="bidMin" id="bid_min">
          <option value="0">0분</option>
          <option value="10">10분</option>
          <option value="20">20분</option>
          <option value="30">30분</option>
          <option value="40">40분</option>
          <option value="50">50분</option>
        </select>
      </div>
    </div>
    <div id="deal_how">
      <span>거래방법</span>
      <select name="how" id="how">
        <option value="1">직거래</option>
        <option value="0">택배</option>
      </select>
    </div>
    <div id="option2_container">
      <div id="deal_price_wrap">
        <span>가격(경매 시 시작 입찰가)</span>
        <input
          type="text"
          name="dealPrice"
          id="deal_price"
          maxlength="8"
          required
        />
      </div>
      <div id="deal_zone_wrap">
        <span>희망거래 지역</span>
        <input type="text" name="dealZone" id="deal_zone" required />
      </div>
    </div>
    <div id="content_container">
      <p>제품 설명</p>
      <textarea
        name="productDetail"
        rows="30"
        placeholder="빠르고 정확한 거래를 위해 자세하게 적어주세요"
        required
      ></textarea>
    </div>
    <div id="img_container">
      <p>제품 이미지(최대 5개)</p>
      <div id="img_upload_box">
        <input
          type="file"
          name="productImg"
          id="img_upload_btn"
          onchange="makeThumbnail(this)"
          accept="image/png, image/jpeg, image/jpg"
          multiple
          required
        />
        <p><i class="fa-solid fa-arrow-up-from-bracket"></i></p>
        <p>클릭 또는 드래그로 이미지첨부</p>
        <div id="preview_list">
          <div class="preview_img">미리보기</div>
          <div class="preview_img">미리보기</div>
          <div class="preview_img">미리보기</div>
          <div class="preview_img">미리보기</div>
          <div class="preview_img">미리보기</div>
        </div>
      </div>
    </div>
    <div id="tag_container">
      <p>해쉬태그(최대 5개)</p>
      <input
        type="text"
        name="tag"
        id="hash_tag"
        placeholder="#예시#해시#태그#입력"
        required
      />
    </div>
    <div id="btn_container">
      <button type="submit" id="write_post_btn">판매물품 등록</button>
    </div>
  </form>
</section>
{% endblock %}
