<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/01a7db640b.js"
      crossorigin="anonymous"
    ></script>
    <title>판매/경매 물품 등록</title>
    <link
      href="../../public/css/home/write.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header>
      <a href="/"><img src="../../public/img/Carrot World 1.png" /></a>
    </header>
    <section>
      <form
        method="post"
        action="http://localhost:4000/api/home/write"
        enctype="multipart/form-data"
        id="write_form"
      >
        <div id="subject_container">
          <span>제목</span>
          <input type="text" name="subject" id="subject" maxlength="64" />
        </div>
        <div id="option_container">
          <div id="deal_way_wrap">
            <span>희망 거래 방식</span>
            <select id="deal_way" name="deal_way">
              <option>선택</option>
              <option value="sell">판매</option>
              <option value="bid">경매</option>
            </select>
          </div>
          <div id="deal_date_wrap">
            <span>경매 진행일</span>
            <select id="bid_date" name="bid_date">
              <option>선택</option>
              <option value="3">3일</option>
              <option value="5">5일</option>
              <option value="7">7일</option>
            </select>
          </div>
          <div id="product_type_wrap">
            <span>카테고리</span>
            <select id="product_type" name="product_type">
              <option>선택</option>
              <option value="clo">의류</option>
              <option value="acc">잡화</option>
              <option value="fur">가구</option>
              <option value="elc">가전</option>
              <option value="pet">반려동물</option>
            </select>
          </div>
        </div>
        <div id="option2_container">
          <div id="deal_price_wrap">
            <span>가격(경매 시 시작 입찰가)</span>
            <input type="text" name="deal_price" id="deal_price" />
          </div>
          <div id="deal_zone_wrap">
            <span>희망거래 지역</span>
            <input type="text" name="deal_zone" id="deal_zone" />
          </div>
        </div>
        <div id="content_container">
          <p>제품 설명</p>
          <textarea
            name="product_detail"
            rows="30"
            placeholder="빠르고 정확한 거래를 위해 자세하게 적어주세요"
          ></textarea>
        </div>
        <div id="img_container">
          <p>제품 이미지(최대 5개)</p>
          <input type="file" name="product_img" id="img_upload_btn" multiple />
          <div onchange="dropfile()" id="img_upload_box">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            <p>클릭 또는 드래그로 이미지첨부</p>
          </div>
        </div>
        <div id="tag_container">
          <p>해쉬태그(최대 5개)</p>
          <input
            type="text"
            name="hash_tag"
            id="hash_tag"
            placeholder="#예시#해시#태그#입력"
          />
        </div>

        <div id="btn_container">
          <button type="submit" id="write_post_btn">판매물품 등록</button>
        </div>
      </form>
    </section>
  </body>
</html>
