#content_container {
  width: 1200px;
  margin: 0 auto;
}

#nav > ul {
  height: 100%;
  display: flex;
  justify-content: right;
}

#nav > ul > li {
  margin-left: 20px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  border-bottom: 2px solid black;
}

#nav > ul > li:hover {
  border-color: #8700c5;
}

#nav > ul > li > a:hover {
  color: #8700c5;
  font-weight: 600;
}

#content_container {
  margin-top: 30px;
}

#category_activity {
  width: 100%;
  margin-bottom: 30px;
}

#graph {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

#mid_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#bottom_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.statistic_box {
  width: 45%;
}

.statistic_box > p {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 6px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
}

.statistic_box > table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

tr {
  height: 35px;
  border-bottom: 1px solid #ececec;
}

th,
td {
  font-weight: 400;
  text-align: left;
}

th {
  background-color: rgba(174, 171, 240, 0.4);
}

th:last-child,
td:last-child {
  text-align: right;
}
