body {
  padding-bottom: 10%;
  background: url(../../img/admin/background.png);
  background-size: cover;
}
#header {
  background-color: transparent;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: 600;
  width: 100%;
  height: 230px;
}

#profileEdit {
  display: flex;
  justify-content: center;
}

#boxTool {
  width: 500px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
}
.infoBox {
  display: block;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
#selectUser {
  font-size: 18px;
  padding-left: 20px;
  width: 524px;
  height: 55px;
  margin: 10px 0 5px 0;
  color: black;
  background-color: white;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 8px;
}

#userEmail {
  font-size: 18px;
  padding-left: 20px;
  width: 500px;
  height: 55px;
  margin: 10px 0 5px 0;
  color: gray;
  background-color: rgb(237, 237, 237);
  border: solid 1px rgb(206, 206, 206);
  border-radius: 8px;
}

#howJoin {
  font-size: 18px;
  padding-left: 20px;
  width: 500px;
  height: 55px;
  margin: 10px 0 5px 0;
  color: gray;
  background-color: rgb(237, 237, 237);
  border: solid 1px rgb(206, 206, 206);
  border-radius: 8px;
}

#userPW {
  font-size: 18px;
  padding-left: 20px;
  width: 500px;
  height: 55px;
  margin: 10px 0 5px 0;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 8px;
}

#userPWCheck {
  font-size: 18px;
  padding-left: 20px;
  width: 500px;
  height: 55px;
  margin: 10px 0;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 8px;
}

#userAlias {
  font-size: 18px;
  padding-left: 20px;
  width: 500px;
  height: 55px;
  margin: 10px 0 5px 0;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 8px;
}

#userMobile {
  font-size: 18px;
  padding-left: 20px;
  width: 500px;
  height: 55px;
  margin: 10px 0 50px 0;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 8px;
}

#userUpdate {
  font-size: 18px;
  padding-left: 20px;
  width: 525px;
  height: 55px;
  margin: 10px 0 5px 0;
  background-color: #4d47c3;
  color: #eeeeee;
  border: solid 1px #4d47c3;
  border-radius: 8px;
}

#quit_btn {
  display: block;
  font-size: 18px;
  padding-left: 20px;
  width: 525px;
  height: 55px;
  margin: 15px 0;
  background-color: #c24947;
  border: solid 2px #c24947;
  color: #f0efff;
  border-radius: 8px;
}

#userUpdate:hover {
  background-color: #f0efff;
  color: #4d47c3;
}

#quit_btn:hover {
  background-color: #f0efff;
  color: #c24947;
  border: solid 2px #c24947;
}
