#nav > ul {
  height: 100%;
  display: flex;
  justify-content: right;
}

#nav > ul > li {
  margin-left: 20px;
  height: 25px;
  line-height: 25px;
  border-bottom: 2px solid black;
}

#nav > ul > li:hover {
  border-color: #4d47c3;
}

#nav > ul > li > a:hover {
  color: #4d47c3;
}

#content {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

tr {
  border: 1px solid #ececec;
  height: 45px;
}

th {
  background-color: #f1f0fe;
  font-weight: 400;
  text-align: center;
}

td {
  text-align: center;
}

#page_list {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  justify-content: right;
  margin-right: 10px;
}

#page_list > li {
  margin-right: 20px;
}
